body {
    font-family: Arial, sans-serif;
}
.color-grid {
    display: flex;
    flex-wrap: wrap;
}
.color-box {
    width: 100px;
    height: 50px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.device-section {
    margin-bottom: 20px;
}
.device-title {
    margin-bottom: 10px;
    font-weight: bold;
}

#container{
    display: flex;
    flex-direction:row;
}